body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:'Poppins', Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border: 2px solid #000000;
    border-radius: 100px;
}

.card {
    width: 200px;
    margin: 60px auto;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    background: palegreen;
    color: #2b2839;
    border: 2px solid #2d043a;
    border-radius: 10px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */

}

h4 {
    font-size: small;
}

.Linkedin-button{
    border: 1px solid #86888A ;
    border-radius: 4px;
    background-color: #0077B5;
    padding: 8px 16px;
}

.Github-button{
    border: 1px solid #86888A ;
    border-radius: 4px;
    background-color: #171515;
    padding: 8px 16px;
}

a{
    text-decoration:none;
    color: #ffffff ;
    
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/

